In [16]:
import pandas as pd

In [54]:
df = pd.read_csv('output/ipo_calendar.csv')

In [55]:
df.head()

,Date,Exchange,Company Name,Number of Shares,Price,Status,Symbol,Number of Shares.1
0,2005-02-01,NaN,OAK STREET FINANCIAL SERVICES INC,NaN,NaN,withdrawn,NaN,NaN
1,2005-01-31,NaN,TRANSPORTATION TECHNOLOGIES INDUSTRIES INC,NaN,NaN,withdrawn,NaN,NaN
2,2005-01-28,New York Stock Exchange,W&T OFFSHORE INC,12655263.0,19.00,priced,WTI,240449997.0
3,2005-01-28,Nasdaq National Market,DFC GLOBAL CORP.,7500000.0,16.00,priced,DLLR,120000000.0
4,2005-01-28,Nasdaq National Market,NATIONAL INTERSTATE CORP,3847000.0,13.50,priced,NATL,51934500.0

In [56]:
df = df.rename(columns={"Number of Shares.1": "Total Shares Value"})

In [57]:
df['Status'].value_counts()

priced       3129
filed        1659
withdrawn    1509
expected        2
Name: Status, dtype: int64

In [58]:
df = df[df['Status']=='priced'].reset_index()

In [59]:
df.isna().sum()

index                 0
Date                  0
Exchange              0
Company Name          0
Number of Shares      0
Price                 0
Status                0
Symbol                3
Total Shares Value    0
dtype: int64

In [60]:
df[df.isnull().any(axis=1)]

,index,Date,Exchange,Company Name,Number of Shares,Price,Status,Symbol,Total Shares Value
694,1092,2007-07-30,OTCBB,NORTH PENN BANCORP INC,1322500.0,10.00,priced,NaN,13225000.0
712,1123,2007-07-02,Nasdaq SmallCap Market,"VAUGHAN FOODS, INC.",2150000.0,6.50,priced,NaN,13975000.0
901,1533,2008-07-02,OTCBB,"VIRTUAL MEDICAL CENTRE, INC.",7593000.0,0.15,priced,NaN,1138950.0

In [61]:
# manually looked up tickers and update
df.at[694, "Symbol"] = "NPBP"
df.at[712, "Symbol"] = "FOOD"
df.at[901, "Symbol"] = "VMCT"

In [62]:
df.isna().sum()

index                 0
Date                  0
Exchange              0
Company Name          0
Number of Shares      0
Price                 0
Status                0
Symbol                0
Total Shares Value    0
dtype: int64

In [64]:
df.shape

(3129, 9)

In [65]:
df.to_csv("output/ipo_calendar_clean.csv", index=False)